.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}
.header {
	background: url(../assets/1.jpg) #F1F1F1 no-repeat center;
    width: 100%;
    min-width: 100%;
    height: 80px;
    background-size: cover;
    position: relative;
    color: white;
    line-height: 80px;
    padding-left: 10px;
    text-align: left;
}
.contentBox {
	padding: 20px 10px;
}
.platform {
	position: relative;
    width: 467px;
    height: 800px;
    background: top no-repeat url(../assets/devices-sprite.jpg);
    background-size: 467px;
    // margin: 0 auto;
}
.platformImg {
	position: absolute;
    width: 320px;
    padding: 5px 0;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}
.platformIframe{
	margin-top: 85px;
    width: 320px;
    height: 568px;
    background-color: #fff;
    padding-top: 20px;
}
